################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AttireApp/.vs/AttireApp/v17/.suo
